h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 500px;
}
#app .content {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 500px;
  height: 350px;
  box-sizing: border-box;
}
#app .content .img-wrap {
  flex-basis: 150px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
}
#app .content .img-wrap .img {
  width: 100%;
  height: 100%;
}
#app .content .content-user {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 55px;
  height: 150px;
  box-sizing: border-box;
}
#app .content .content-user .info {
  flex: 1;
}
#app .content .content-user .info .name {
  margin-bottom: 10px;
}
#app .content .content-user .info .signature {
  font-size: .8em;
  color: #999;
}
#app .content .content-user .links {
  display: flex;
}
#app .content .content-user .links .link-wrap {
  margin-left: 10px;
}
#app .content .content-user .links .link-wrap .link {
  color: #5495d5;
  text-decoration: none;
}
#app .content .content-user .links .link-wrap:first-child {
  margin-left: 0;
}
