html, body { padding: 0; margin: 0; }
body { font-family: Calibri,"方正兰亭黑"; --h_width: 30px; }
a { text-decoration: none; }

.diy-h { display: flex; align-items: center; margin-bottom: 15px; }
  .h-radius { width: var(--h_width); height: var(--h_width); /*border-radius: var(--h_width);*/ background: #030303; }
  .h-title { width: calc(100% - var(--h_width)); margin-left: 10px; line-height: 28px; font-size: 20px; }
    .h-title:after { content: ''; display: block; width: 100%; height: 2px; background: #2d2b2b;  }
.diy-bottom { margin-bottom: 55px; }

.resume { width: 800px; margin: 0 auto; }
  .resume header { display: flex; height: 200px; background: #030303; color: #fff; }
    .header-information { display: flex; padding: 10px; box-sizing: border-box; }
      .header-information a { color: #fff; }
    .header-left { flex-grow: 9; }
    .header-right { flex-grow: 1; }
      .header-ul-left { flex-grow: 1; box-sizing: border-box; }
      .header-ul-right { flex-grow: 8; box-sizing: border-box; }
      .header-left .header-ul-left { flex-grow: 1; padding-left: 10px; margin: 59px 0; }
      .header-left .header-ul-right { flex-grow: 8; padding-left: 10px; font-size: 22px; margin: 63px 0; }
      .header-right .header-ul-left { margin: 52px 0; }
      .header-right .header-ul-right { padding-left: 10px; margin: 51px 0; }
        .header-ul-left li { text-align: center; }
      .header-information li { list-style: none; }
  .resume-body { display: flex; height: 885px; font-size: 17px; }
    .body-left { width: 400px; margin-top: 70px; padding-left: 20px; padding-right: 20px; border-right: 1px solid #636363; box-sizing: border-box; }
    .body-right { width: 400px; margin-top: 70px; padding-left: 20px; padding-right: 20px; box-sizing: border-box; }